In [49]:
#This file convert to out files to txt and convert txt files to hdf5.
import pandas as pd
import numpy as np
import h5py
import os
import io
import matplotlib.pyplot as plt
import csv
column_names = ['X','Y','Z','Total(MeV)', 'Total(val^2)','Entry']
for i in range(3,203):
    df = pd.read_csv(('C:/Users/oguzh/Jupyter Note/Train/new/{}.out'.format(i)), names = column_names,sep =',', 
                          skipinitialspace=True)
    
    low_memory = False
    df = df.iloc[3: , :]
    df = df.astype({"X": int, "Y": int, "Z": int, "Total(MeV)": float,"Total(val^2)": float,"Entry": int})
    df = df.drop(["X", "Y", "Z"], axis=1)
    df.to_csv(('C:/Users/oguzh/Jupyter Note/Train/{}.txt'.format(i)),index=False,header=False)
#print ((df['Entry'] != 0).values.sum())

C:\Users\oguzh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
import pandas as pd
import numpy as np
import h5py
import os
import io
import matplotlib.pyplot as plt
import csv
with h5py.File('C:/Users/oguzh/Jupyter Note/Traindata.h5', 'w') as f1:
        column_names2 = ['Total(MeV)', 'Total(val^2)','Entry']
        df2 = pd.read_csv(('C:/Users/oguzh/Jupyter Note/GAN/result1.txt'), names=column_names2,
                 sep =',',skipinitialspace=True)
        low_memory=False
        df2 = df2.astype({"Total(MeV)": float,"Total(val^2)": float,"Entry": float})
        df2_array = df2.to_numpy()
        arr_3d_df2 = np.reshape(df2_array,(199,90,90,90,3))
        grp = f1.create_group('Gammaknife')
        dset = grp.create_dataset('energy',(199,90,90,90,3),data=arr_3d_df2,dtype='f')
f1.close()

In [6]:
#201th default dataset 
arr_3d_df2[3][1][0]

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
import fileinput
with open('result1.txt', 'a+') as f1:
    for i in range(3,202):
        with open('C:/Users/oguzh/Jupyter Note/Train/Txtdata/{}.txt'.format(i),'r') as f2:
            f1.write(f2.read())

In [ ]:
with h5py.File('C:/Users/oguzh/Jupyter Note/Takesdeneme200first.h5', 'r') as f2:
    print(f2['energy'].shape)

    f2['energy'][:]